# MariaDB database server configuration file.
[client]
port    = 3306
socket  = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysqld]
user    = mysql
pid-file    = /var/run/mysqld/mysqld.pid
basedir     = /usr
datadir     = /var/lib/mysql
tmpdir      = /tmp
bind-address    = 127.0.0.1
port    = 3306
socket  = /var/run/mysqld/mysqld.sock

character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
max_connections   = 151
default-storage-engine   = InnoDB

log_error   = /var/log/mysql/error.log
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time  = 2

[mysqldump]
quick
quote-names
max_allowed_packet   = 16M
