# Classic Yarn configuration
registry "https://registry.yarnpkg.com"
yarn-offline-mirror "./npm-packages-offline-cache"
yarn-offline-mirror-pruning true
disable-self-update-check true
lastUpdateCheck 1724747857371
"--install.ignore-engines" true
network-timeout 60000
